*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $very-dark-blue;
  font-family: $font-family;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
