// ### Primary

$blue: hsl(246, 80%, 60%);
$light-red-work: #ff8c66;
$soft-blue-play: #56c2e6;
$light-red-study: #ff5c7c;
$lime-green-exercise: #4acf81;
$violet-social: #7536d3;
$soft-orange-self-care: #f1c65b;

// ### Neutral

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

// ### Typography

// - Font size: 18px (card titles e.g. Work, Play)

$font-family: "Rubik", sans-serif;
