@import "src/scss/_variables.scss";

.card {
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &-header {
    padding: 1.2rem;
    border-bottom: 1px solid $gray-200;
    h5 {
      margin: 0;
      font-size: 1rem;
      color: $veryDarkBlue;
    }
  }
  &-body {
    padding: 1.5rem 1.2rem;

    .cart-list {
      margin: 0;
    }

    .cart-list-item {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        margin: 0;
        font-size: 1rem;
      }

      .cart-item-price-wrap {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.4rem;
      }

      .cart-img {
        border-radius: 0.25rem;
        overflow: hidden;
        display: flex;
        img {
          width: 50px;
        }
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    border-top: 1px solid $gray-200;
    h5 {
      margin: 0;
      font-size: 1rem;
      color: $veryDarkBlue;
    }
    p {
      margin: 0;
    }
  }
}
