@mixin breakPoint {
  @media only screen and (min-width: 40em) {
    @content;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}

.hero {
  align-items: center;
  background-color: $pale-blue;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='437'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E")
    no-repeat;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  @include breakPoint() {
    padding: 2rem;
  }
}

#circle {
  animation: 2s linear circleani infinite alternate-reverse;
}

#music {
  animation: 2s linear music infinite both alternate;
  z-index: -1;
}
#man {
  animation: 2s linear man infinite alternate;
  z-index: -1;
}

@keyframes music {
  from {
    transform: translateX(-10px) rotateY(10deg);
  }

  to {
    transform: translateX(0px) rotateY(0deg);
  }
}

@keyframes man {
  form {
    transform: translate(0);
  }
  to {
    transform: rotateX(20deg);
  }
}

@keyframes circleani {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
