@import "src/scss/_breakpoint.scss";

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86.6%;
  margin: 3rem auto;
  @include breakPoint(lg) {
    margin: 0 auto;
  }
}
.container-grid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: 1fr;
  @include breakPoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakPoint(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  max-width: 69.375rem;
  margin: 0 auto;
  gap: 2rem;
  width: 100%;
}

.col-span-2 {
  @include breakPoint(sm) {
    grid-column: 1 / span 2;
  }
  @include breakPoint(lg) {
    grid-column: unset;
    grid-row: 1 / span 2;
  }
}
