@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100%;
}
.heroSection {
  width: 100%;
  background: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;
}
.heroText {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  border: 1.5px solid hsl(0, 0%, 100%);
  width: fit-content;
}
section .heroText p {
  color: hsl(0, 0%, 100%);
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
}
.product {
  /* background-color: hsl(0, 0%, 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .imgCont {
  height: 400px;
  width: 550px;
  overflow: hidden;
  transform: translateX(0px);
}
.product .imgCont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product .textCont {
  background-color: hsl(0, 0%, 100%);
  width: 500px;
  transform: translate(-110px) translateY(75px);
  padding: 40px;
}
.product .textCont h4 {
  font-size: 30px;
  font-weight: 400;
}
.product .textCont p {
  font-family: "Alata", sans-serif;
  font-size: 13px;
  padding: 10px;
  transition: 0.3s ease color;
}
.creation header {
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creation header h4 {
  font-size: 30px;
}
.creation header button {
  border: 1.5px solid hsl(0, 0%, 0%);
  background-color: transparent;
  cursor: pointer;
  padding: 7px 14px;
  font-weight: bold;
  outline: none;
  transition: 0.3s ease;
  vertical-align: middle;
  text-align: center;
  transition-property: color, background-color;
  letter-spacing: 1px;
}
.creation header button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}
.creation .creationCont {
  display: grid;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2em;
  margin-top: 30px;
  margin-bottom: 60px;
}
.creationCont > div {
  margin: 0% auto;
  height: 400px;
  width: 230px;
  position: relative;
  overflow: hidden;
}
.creationCont > div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease transform;
}
.creation {
  height: unset;
}
.creationCont div p {
  position: absolute;
  color: hsl(0, 0%, 100%);
  bottom: 10%;
  font-size: 25px;
  left: 15%;
  width: 150px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  visibility: hidden;
  transition: 0.3s ease all;
  background-color: transparent;
}
.creationCont > div:hover .overlay {
  visibility: visible;
  background-color: hsla(0, 0%, 100%, 0.507);
}
.creationCont > div:hover img {
  transform: scale(1.03);
}
.creationCont > div:hover p {
  color: hsl(0, 0%, 0%);
}
footer {
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 23vh;
  width: 100%;
}
.foot {
  margin: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
footer > div {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
footer .footerTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: crimson; */
  height: 100%;
}
.footerTop ul li img {
  width: 18px;
}
.footerBottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footerBottom p {
  color: hsl(0, 0%, 60%);
}
footer ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
footer li {
  margin-right: 20px;
  position: relative;
}
footer ul li a::after {
  content: "";
  height: 2px;
  width: 70%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  left: 15%;
  bottom: -25%;
  transform: scale(0);
  transition: 0.3s ease transform;
  border-radius: 333px;
}
footer li:hover a::after {
  transform: scale(1);
}
footer .footerTop .logo {
  width: 100px;
}

.navBar {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0%;
  left: 0%;
  padding: 1rem;
  /* background-color: hsl(0, 0%, 0%); */
  /* display: none; */
}
.navBar header {
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.2rem 0;
}
.navBar header a img {
  width: 160px;
}
.navBar header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.navBar header ul li {
  margin: 0 10px;
}
.navBar header ul li a {
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Alata", sans-serif;
}
.hamburgar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.line {
  height: 2px;
  width: 70%;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}
.line::after,
.line::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease transform;
}
.line::after {
  top: -6px;
}
.line::before {
  top: 6px;
}
.btn {
  border: 1.5px solid hsl(0, 0%, 0%);
  background-color: transparent;
  cursor: pointer;
  padding: 7px 14px;
  font-weight: bold;
  outline: none;
  transition: 0.3s ease;
  vertical-align: middle;
  text-align: center;
  transition-property: color, background-color;
  letter-spacing: 1px;
  width: fit-content;
  margin: 0 auto;
  display: none;
  margin-bottom: 30px;
}
.btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}
.navList ul li a {
  position: relative;
}
.navList ul li a::after {
  content: "";
  height: 2px;
  width: 70%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  left: 15%;
  bottom: -25%;
  transform: scale(0);
  transition: 0.3s ease transform;
  border-radius: 333px;
}
.navList li:hover a::after {
  transform: scale(1);
}
@media (max-width: 700px) {
  .heroSection {
    background: url("./images/mobile/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .heroText {
    left: 50%;
    transform: translate(-50%, -50%);
    width: unset;
  }
  section .heroText p {
    font-size: 40px;
    line-height: 45px;
  }
  header .navList ul {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.897);
    width: 100%;
    padding: 10px;
    left: 100%;
    transition: 0.5s ease left;
  }
  header .navList.active ul {
    left: 0;
  }
  header .navList ul li {
    margin: 20px;
    text-transform: uppercase;
    position: relative;
  }
  header .navList ul li a {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .hamburgar {
    display: flex;
    z-index: 11;
  }
  header .navList.active .hamburgar .line {
    background-color: transparent;
  }
  header .navList.active .hamburgar .line::after {
    transform: rotate(45deg);
    top: 0%;
  }
  header .navList.active .hamburgar .line::before {
    transform: rotate(-45deg);
    top: 0%;
  }
  .creationCont > div {
    height: 100px;
    width: 100%;
  }
  .creation .creationCont {
    grid-column-gap: 1em;
    grid-gap: 1em;
  }
  .footerBottom {
    flex-direction: column;
  }
  .product {
    display: flex;
    flex-direction: column;
  }
  .product .textCont {
    width: 90%;
    flex-direction: column;
    transform: translate(0) translateY(0);
    text-align: center;
  }
  .product .imgCont {
    width: 90%;
    height: 250px;
    max-width: 400px;
  }
  .product img {
    width: 100%;
    object-fit: cover;
  }
  .btn {
    display: flex;
  }
  .creation .creationCont {
    margin-bottom: 30px;
  }
  .creation header {
    display: flex;
    justify-content: center;
  }
  .creation header button {
    display: none;
  }
  footer {
    height: fit-content;
  }
  .foot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot .footerBottom {
    align-items: center;
    justify-content: center;
  }
  .foot .footerTop {
    align-items: center;
    justify-content: center;
  }
  .foot .footerTop ul {
    flex-direction: column;
    padding: 15px 0;
  }
  .foot .footerTop ul li {
    margin: 15px 0;
  }
  .foot .footerTop .logo {
    padding: 20px 0;
    padding-bottom: 5px;
  }
  .foot .footerBottom ul {
    padding-bottom: 20px;
  }
  .foot .footerBottom {
    padding-bottom: 30px;
  }
}
