@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0% auto;
}
.bg1 {
  position: absolute;
  height: 700px;
  width: 500px;
  background: linear-gradient(
    to top right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 0 0 999px 999px;
  top: 0%;
  left: 0;
  transform: translateX(-105px);
  z-index: -1;
}

.container .mobileCont {
  height: 500px;
  width: 247px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  position: relative;
}
.mobileCont .mobile {
  height: 100%;
  width: 100%;
  border-radius: 21px;
  background-color: hsl(264, 24%, 96%);
}
.container .mobileCont .mobileTop {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to top right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 21px 21px 5px 5px;
  padding: 15px;
  padding-top: 30px;
  padding-right: 5px;
}
.container .mobileCont .mobileTop .imgCont {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 7px;
  user-select: none;
}
.container .mobileCont .mobileTop .imgCont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.container .mobileCont .mobileTop .topLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .mobileCont .mobileTop .topLeft .backNavCont .backNav {
  height: 2px;
  width: 6px;
  background-color: hsl(0, 0%, 100%);
  transform: rotate(-60deg);
  position: relative;
  transform-origin: left;
}
.container .mobileCont .mobileTop .topLeft .backNavCont .backNav::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  transform: rotate(120deg);
  position: absolute;
  top: -15%;
  left: 10%;
  transform-origin: left;
}
.container .mobileCont .mobileTop .topLeft .topDesc {
  user-select: none;
  margin-left: 7px;
}
.container .mobileCont .mobileTop .topLeft .topDesc h4 {
  font-size: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}
.container .mobileCont .mobileTop .topLeft .topDesc p {
  font-size: 9px;
  color: hsl(281, 100%, 73%);
}
.container .mobileCont .mobileTop .topRight {
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease background-color;
}
.container .mobileCont .mobileTop .topRight .settingCont {
  height: 2px;
  width: 2px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}
.container .mobileCont .mobileTop .topRight .settingCont::after,
.container .mobileCont .mobileTop .topRight .settingCont::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
}
.container .mobileCont .mobileTop .topRight .settingCont::after {
  top: -4px;
}
.container .mobileCont .mobileTop .topRight .settingCont::before {
  bottom: -4px;
}
.container .mobileCont .mobileTop .topRight:hover {
  background-color: hsl(281, 100%, 73%);
}
.container .mobileCont .mobileTop::after {
  content: "";
  height: 30px;
  width: 130px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 12px 12px;
}
.chatCont {
  display: flex;
  padding: 8px;
  padding-top: 10px;
}
.chats {
  width: 100%;
}
.chats > div,
.chats label {
  margin-bottom: 8px;
}
.chats .rightLast {
  margin-bottom: 15px;
}
.chatLeft {
  display: flex;
  /* align-items: flex-start; */
  background-color: hsl(272, 64%, 93%);
  width: 65%;
  float: left !important;
  border-radius: 7px 7px 7px 2px;
}
.chatLeft p {
  color: hsl(276, 55%, 52%);
}
.chatRight {
  background-color: hsl(0, 0%, 100%);
  max-width: 70%;
  float: right !important;
  border-radius: 7px 7px 2px 7px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  width: fit-content;
}
.chatRight p {
  color: hsl(271, 15%, 43%);
}
.chats p {
  font-size: 9px;
  padding: 7px;
}
.chats .chatImgCont {
  background-color: transparent;
  box-shadow: none;
  margin-top: 7px;
}
.chats .dogImgCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chats .chatImgCont img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 8px;
}
.chats .radioCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  width: 160px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  cursor: pointer;
  position: relative;
  user-select: none;
}
.chats .radioCont p {
  color: hsl(0, 0%, 100%);
  padding: 5px;
}
.chats .radioCont h4 {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
}
.chats .radioLeftCont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chats .radioCont input[type="radio"] {
  background-color: hsla(264, 65%, 32%, 0);
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  z-index: -1;
}

.chats .radioCont .radioBox {
  height: 13px;
  width: 13px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chats .radioCont .radioBox::after {
  content: "";
  height: 7px;
  width: 7px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  display: none;
}
.chats .radioCont input:checked ~ .radioBox::after {
  display: flex;
}
.container .inputField {
  padding: 8px;
  display: flex;
}

.container .formCont {
  padding: 8px;
  padding-top: 0;
}
.formCont form {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 999px;
}
.formCont form input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 6px;
  font-size: 10px;
  padding-inline-start: 10px;
  text-transform: capitalize;
}
.formCont form input::placeholder {
  color: hsl(206, 6%, 79%);
}
.formCont button {
  background-color: hsl(271, 36%, 24%);
  padding: 5px;
  border: none;
  outline: none;
  width: fit-content;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.formCont button ion-icon {
  color: hsl(264, 24%, 96%);
  transform: scale(1.2);
  display: flex;
  margin-left: 2px;
}
.textCont {
  max-width: 440px;
  transform: translateX(120px);
}
.textCont h1 {
  font-size: 42px;
  font-weight: 500;
  color: hsl(271, 36%, 24%);
}
.textCont p {
  margin-top: 25px;
  font-size: 16px;
  line-height: 25px;
  color: hsl(271, 15%, 43%);
}

@media (max-width: 950px) {
  .container {
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    margin-bottom: 100px;
    height: unset;
  }
  .textCont {
    margin-top: 50px;
    transform: translate(0);
    text-align: center;
    width: 90%;
  }
  .bg1 {
    transform: translate(-100px);
    height: 600px;
    width: 500px;
  }
  .mobileCont {
    margin-top: 80px;
  }
}
@media (max-width: 700px) {
  .bg1 {
    width: 450px;
    height: 500px;
  }
}
@media (max-width: 450px) {
  .bg1 {
    width: 300px;
    height: 500px;
  }
}

/* nav */
.navCont {
  position: absolute;
  background-color: hsl(272, 64%, 93%);
  border-radius: 4px;
  right: 5%;
  top: 7%;
  height: 0;
  overflow: hidden;
}
.navCont ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 90px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navCont ul li {
  padding: 8px;
  font-size: 9px;
  color: hsl(276, 55%, 52%);
  cursor: pointer;
}
.navCont ul li:hover {
  background-color: hsl(270, 47%, 75%);
}
.navCont[isnavopen="true"] {
  height: 114px;
}
