// Font Family

$font-sans: "Kumbh Sans", sans-serif;

// Colors

$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);

$red: hsl(354, 70%, 54%);
$green: hsl(152, 69%, 19%);

$white: hsl(0, 0%, 100%);
$gray-100: hsl(210, 17%, 98%);
$gray-200: hsl(210, 16%, 93%);
$gray-300: hsl(210, 14%, 89%);
$gray-400: hsl(210, 14%, 83%);
$gray-500: hsl(210, 11%, 71%);
$gray-600: hsl(208, 7%, 46%);
$gray-700: hsl(210, 9%, 31%);
$gray-800: hsl(210, 10%, 23%);
$gray-900: hsl(210, 11%, 15%);
$black: hsl(0, 0%, 0%);

// Sizes

$max-width: 69.5em;
