@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.topContainer {
  display: flex;
}
.topLeftImgCont {
  position: relative;
}
.imgCont {
  width: 800px;
  height: 520px;
  display: flex;
  overflow: hidden;
}
.imgCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ImgNavcont {
  position: absolute;
  bottom: 0%;
  right: 0;
  display: none;
}
.bottomCont {
  display: flex;
  align-items: center;
  justify-self: center;
}
.textContMain {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.textCont {
  width: 80%;
  margin: 0 auto;
}
.textCont h1 {
  width: 80%;
  font-size: 31px;
  color: hsl(0, 0%, 27%);
  padding-bottom: 5px;
}
.textCont p {
  font-size: 12px;
  line-height: 20px;
  color: hsl(0, 0%, 63%);
  padding: 10px 0;
}
.TextNavcont {
  position: absolute;
  bottom: 0;
  left: 0;
}
.shopNow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.shopNow p {
  letter-spacing: 4px;
  color: hsl(0, 0%, 27%);
  transition: 0.3s color;
}
.shopNow img {
  margin-left: 20px;
  transition: 0.3s;
}
.shopNow:hover p {
  color: hsl(0, 0%, 63%);
}
.shopNow:hover img {
  filter: invert(0.6);
  margin-left: 30px;
}
.navCont {
  background-color: #000;
  display: flex;
}
.navCont button {
  border: none;
  outline: none;
  background-color: #000;
  /* padding: 5px; */
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
}
.navCont button ion-icon {
  color: #fff;
  font-weight: 500;
  transform: scale(1.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 18px;
}
.navCont button:hover {
  background-color: hsl(0, 0%, 27%);
}

.bottomCenter .text {
  padding: 40px;
}
.bottomCenter .text p {
  font-size: 12px;
  color: hsl(0, 0%, 63%);
  line-height: 18px;
}
.bottomCenter .text h4 {
  font-size: 13px;
  color: hsl(0, 0%, 27%);
  letter-spacing: 2px;
  padding: 15px 0;
  font-weight: 700;
}
.bottomCont img {
  width: 380px;
  height: 230px;
}
.bottomCont {
  overflow: hidden;
  height: fit-content;
}

/* Nav */
.nav {
  position: absolute;
  width: 100%;
  background-color: transparent;
}
.nav nav {
  display: flex;
  align-items: center;
  padding: 50px;
  position: relative;
}
.nav nav .img {
  display: flex;
}
nav .lists img {
  display: none;
}

.nav nav ul {
  display: flex;
  align-items: center;
  margin-left: 20px;
  list-style: none;
  justify-content: center;
}
.nav nav ul li {
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: unset;
  justify-content: center;
}
.nav nav ul li::after {
  content: "";
  height: 2px;
  width: 60%;
  background-color: #fff;
  position: absolute;
  bottom: -43%;
  transform: scale(0);
  border-radius: 999px;
  transition: 0.3s ease transform;
}
.nav nav ul li:hover::after {
  transform: scale(1);
}
.nav nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.ImgNavcont {
  display: none;
}
@media (max-width: 1250px) {
  .topLeftImgCont {
    width: 100%;
    overflow: hidden;
  }
  .topLeftImgCont img {
    object-position: center center;
  }
  .imgCont {
    width: 100%;
  }
  .bottomCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bottomCont > .bottomLeft {
    overflow: hidden;
  }
  .bottomCont .bottomCenter {
    order: 0;

    width: 100%;
  }
  .bottomCenter .text {
    max-width: 700px;
  }
  .bottomLeft {
    order: 1;
  }
  .bottomRight {
    order: 2;
  }
  .textCont h1 {
    width: 100%;
  }
}
@media (max-width: 777px) {
  .topContainer {
    flex-direction: column;
  }
  .TextNavcont {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .ImgNavcont {
    display: flex;
    justify-content: flex-end;
  }
  .TextNavcont {
    display: none;
  }
  .bottomCont .bottomCenter {
    order: 1;
    max-width: 600px;
  }
  .bottomLeft {
    order: 2;
  }
  .bottomRight {
    order: 2;
  }
  .imgCont {
    height: 430px;
  }
  .textContMain {
    padding: 50px 0;
  }
  .shopNow {
    padding: 20px 0;
    padding-bottom: 0;
  }
  .textContMain h1 {
    font-size: 24px;
  }
  .bottomCont img {
    width: 100%;
  }
  .hamburgar {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .hamburgar .line {
    height: 2px;
    width: 80%;
    background-color: #fff;
    position: relative;
  }
  .hamburgar .line::after,
  .hamburgar .line::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
  }
  .hamburgar .line::after {
    top: 8px;
  }

  .hamburgar .line::before {
    bottom: 8px;
  }
  .nav nav .lists {
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-120%);
    transition: 0.5s ease transform;
  }
  nav .lists ul {
    list-style: none;
    display: flex;
    padding: 25px;
  }
  nav .lists ul li {
    margin: 0 15px;
  }
  nav .lists ul li a {
    color: hsl(0, 0%, 27%);
    text-decoration: none;
    font-size: 14px;
  }
  nav .lists img {
    position: absolute;
    left: 7%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .img {
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .lists .close {
    display: flex;
  }
  .nav[data-isnavopen="true"] .lists {
    transform: translate(0);
  }
  .nav nav {
    padding: 15px;
  }
  .nav nav ul li::after {
    background-color: hsl(0, 0%, 27%);
  }
}
@media (max-width: 400px) {
  #description {
    height: 160px;
  }
}
#headings.scripthead {
  opacity: 0;
  transform: translateX(-10px);
  transition: 0.5s ease;
  letter-spacing: -1px;
  transition-property: transform, opacity;
}
#headings.fade {
  opacity: 1;
  transform: translateY(0);
}
#imageEl.scriptImage {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s ease;
  transition-property: transform;
}
#imageEl.scriptImage.fade {
  opacity: 1;
  transform: scale(1);
}
#description.scriptText {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease;
  transition-property: transform, opacity;
  transition-delay: 0.3s;
}

#description.scriptText.fade {
  opacity: 1;
  transform: translatey(0px);
}
.nav {
  z-index: 1111;
}
