@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  max-width: 1440px;
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 20%;
}
.container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cardContainer {
  display: flex;
  align-items: center;
}
.pricingCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pricingCont h1 {
  color: hsl(233, 13%, 49%);
}
.scheme {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.pricingCont .scheme p {
  color: hsl(234, 14%, 74%);
  font-size: 16px;
  cursor: pointer;
}
.pricingCont .scheme .toggleCont {
  height: 35px;
  width: 65px;
  background-color: hsl(237, 63%, 64%);
  border-radius: 999px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 30px;
  transition: 0.3s ease background-color;
}
.pricingCont .scheme .toggleCont .toggleButton {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 8%;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cardContainer .card {
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 6px;
  min-width: 335px;
}
.card p {
  font-size: 18px;
  padding: 10px;
  color: hsl(233, 13%, 49%);
  letter-spacing: 0.01em;
  padding-bottom: 0;
}
.card h1 {
  font-size: 4em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(232, 13%, 33%);
}
.dollar {
  font-size: 0.5em;
  margin-right: 5px;
}
.card ul {
  list-style: none;
  padding: 10px;
  text-align: center;
  padding-bottom: 0%;
}
.card ul li {
  border: 1px solid hsl(234, 14%, 74%);
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 15px;
  font-size: 18px;
  border-collapse: collapse;
  border-bottom: transparent;
  color: hsl(233, 13%, 49%);
}
.card ul li:nth-last-child(1) {
  border-bottom: 1px solid hsl(234, 14%, 74%);
}
.card button {
  border: none;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 15px 10px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  margin-top: 30px;
  letter-spacing: 0.1em;
  border: 1px solid transparent;
  transition: 0.3s ease;
  transition-property: color, background-image, border;
}
.card.card2 {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 60px 30px;
  min-width: 325px;
}
.card2 h1,
.card2 p,
.card2 ul li {
  color: #fff;
}
.card2 button {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.card button:hover {
  background: transparent;
  border: 1px solid hsl(233, 13%, 49%);
  color: hsl(237, 63%, 64%);
}
.card.card2 button:hover {
  border-color: #fff;
  color: #fff;
}

/* Toggle Switch */

.container[data-ismonthlyprice="true"] .toggleCont .toggleButton {
  left: 50%;
}

.container[data-ismonthlyprice="true"] .toggleCont {
  background-color: hsl(234, 14%, 74%);
}

@media (max-width: 1000px) {
  .cardContainer {
    flex-direction: column;
  }
  .cardContainer .card {
    margin: 20px 0;
  }
  body {
    background-image: url("./images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: 200px top;
  }
}
