@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.container {
  background: url(./images/bg-pattern.svg);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
header {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
  background: url("./images/pattern-circles.svg") no-repeat center;
  background-size: contain;
  margin-bottom: 30px;
}
header h1 {
  font-size: 32px;
  color: hsl(227, 35%, 25%);
}
header p {
  color: hsl(225, 20%, 60%);
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-top: 4px;
}
.cardContainer {
  width: 90%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 540px;
  max-height: 400px;
  border-radius: 6px;
}
.cardContainer .card {
  padding: 45px;
}
.card .cardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .cardTop h5 {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: hsl(225, 20%, 60%);
}
.mobilePriceCont {
  display: none;
}
.card .cardTop h1 {
  font-size: 39px;
  letter-spacing: unset;
  color: hsl(227, 35%, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cardTop h1 span {
  font-size: 15px;
  color: hsl(225, 20%, 60%);
  margin-left: 5px;
}
.card .sliderCont {
  width: 100%;
  margin: 40px 0;
  margin-top: 30px;
}
.card .sliderCont input[type="range"] {
  appearance: none;
  outline: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: hsl(224, 65%, 95%);
  cursor: pointer;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 100%
  );
}
.card .sliderCont input::-webkit-slider-thumb {
  appearance: none;
  background: url("./images/icon-slider.svg") no-repeat center
    hsl(174, 86%, 45%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 300ms ease;
  box-shadow: hsl(174, 86%, 45%) 0px 10px 50px -5px;
}
.card .sliderCont input::-webkit-slider-thumb:hover {
  background: url("./images/icon-slider.svg") no-repeat center
    hsl(174, 73%, 70%);
}

.card .sliderCont input::-webkit-slider-thumb:active {
  background: url("./images/icon-slider.svg") no-repeat center
    hsl(174, 81%, 31%);
}
/* Mozilla */
.card .sliderCont input::-moz-range-thumb {
  appearance: none;
  background: url("./images/icon-slider.svg") no-repeat center
    hsl(174, 86%, 45%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 300ms ease;
}
.sliderCont input::-moz-range-progress {
  background-color: hsl(174, 77%, 80%);
  height: 100%;
  border-radius: 5px;
}

.card .sliderCont input::-moz-range-thumb:hover {
  background: url("./images/icon-slider.svg") no-repeat center
    hsl(174, 73%, 70%);
}

.card .sliderCont input::-moz-range-thumb:active {
  background: url("./images/icon-slider.svg") no-repeat center
    hsl(174, 81%, 31%);
}

/* Subscription */

.card .subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.card .subscription .toggleCont {
  width: 43px;
  height: 22px;
  border-radius: 999px;
  background: hsl(223, 50%, 87%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin: 0 15px;
  transition: 0.3s ease background-color;
}
.card .subscription .toggleCont .toggleBtn {
  height: 15px;
  width: 15px;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;
  left: 10%;
  transition: 0.3s ease left;
}
.card .subscription .toggleCont[data-isyearlybilling="true"] .toggleBtn {
  left: 55%;
}
.card .subscription .toggleCont:hover {
  background-color: hsl(174, 77%, 80%);
}
.card .subscription p {
  font-size: 12px;
  color: hsl(225, 20%, 60%);
  position: relative;
}
.card .subscription .disCont {
  position: absolute;
  /* opacity: 0; */
  font-size: 10px;
  color: hsl(15, 100%, 70%);
  background-color: hsl(8, 79%, 94%);
  padding: 2px 4px;
  border-radius: 999px;
  right: -125%;
  text-align: center;
}
.card .bottomCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.card .bottomCont ul {
  list-style: none;
}
.card .bottomCont ul li {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: hsl(225, 20%, 60%);
  line-height: 22px;
}
.card .bottomCont ul li p {
  margin-left: 15px;
}
.card .bottomRight button {
  font-size: 12px;
  color: hsl(225, 20%, 60%);
  background-color: hsl(227, 35%, 25%);
  border: none;
  outline: none;
  padding: 12px 48px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s ease background-color;
  font-weight: 800;
}
.card .bottomRight button:hover {
  background-color: hsla(227, 35%, 25%, 0.959);
}

@media (max-width: 600px) {
  .cardContainer {
    max-height: fit-content;
    margin-bottom: 80px;
  }
  .card {
    max-height: unset;
  }
  .bottomCont {
    flex-direction: column;
  }
  .subscription .disCont {
    right: -60% !important;
  }
  .subscription .disCont span {
    display: none;
    width: fit-content;
  }
  .mobilePriceCont {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .mobilePriceCont h1 {
    display: flex;
    color: hsl(227, 35%, 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .mobilePriceCont h1 span {
    font-size: 15px;
    margin-left: 5px;
  }
  .card .cardTop {
    justify-content: center;
  }
  .card .cardTop h1 {
    display: none;
  }
  .bottomCont ul li {
    justify-content: center;
    align-items: center;
  }
  .card .bottomRight {
    margin-top: 30px;
  }
  .card .subscription {
    margin: 25px 0;
  }
  header {
    width: 80%;
  }
  header h1 {
    font-size: 20px;
  }
  header p {
    font-size: 13px;
  }
}
