*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  background: $light-grayish-cyan-1;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0%;
  }
}
