// Primary

$strong-cyan: hsl(172, 67%, 45%);
$danger: hsl(354, 70%, 54%);

// Neutral

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan-1: hsl(186, 14%, 43%);
$dark-grayish-cyan-2: hsl(184, 14%, 56%);
$light-grayish-cyan-1: hsl(185, 41%, 84%);
$light-grayish-cyan-2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$input-bg: hsl(208, 74%, 95%);

// Fonts

$font-family: "Space Mono", monospace;
