// Primary Colors

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$desaturatedCyan: hsl(167, 40%, 24%); // graphic design text
$darkBlue: hsl(198, 62%, 26%); // Photography text
$moderateCyan: hsl(168, 44%, 70%); // Footer

// Neutral Colors

$desaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
// $white: red;s

$heroBg: hsl(200, 100%, 62%);

$hhh: hsl(167, 44%, 70%);
