// Backgrounds
$VerydarkdesaturatedblueTheme1: hsl(222, 26%, 31%);
$Verydarkdesaturatedblue2Theme1: hsl(223, 31%, 20%);
$Verydarkdesaturatedblue3Theme1: hsl(224, 36%, 15%);

// Toggle

$RedSwitchTheme1: hsl(6, 63%, 50%);

// Key -normal
$normalKeyBackgroundTheme1: hsl(30, 25%, 89%);
$normalKeyShadowTheme1: hsl(28, 16%, 65%);
$textColorTheme1: hsl(221, 14%, 31%);

// Resetkey

$EqualToKeyTheme1: hsl(6, 63%, 50%);
$EqualToKeyShadowTheme1: hsl(6, 70%, 34%);

// Reset key

$ResetKeyTheme1: hsl(225, 21%, 49%);
$ResetKeyShadowTheme1: hsl(224, 28%, 35%);

// Theme 2

$Verydarkdesaturatedblue2Theme2: hsl(0, 5%, 81%);
$Verydarkdesaturatedblue3Theme2: hsl(0, 0%, 93%);

// Key -normal
$normalKeyBackgroundTheme2: hsl(45, 7%, 89%);
$normalKeyShadowTheme2: hsl(35, 11%, 61%);
$textColorTheme2: hsl(60, 10%, 19%);

$ResetKeyTheme2: hsl(185, 42%, 37%);
$ResetKeyShadowTheme2: hsl(185, 58%, 25%);

$EqualToKeyTheme2: hsl(25, 98%, 40%);
$EqualToKeyShadowTheme2: hsl(25, 99%, 27%);

// Theme 3

$Verydarkdesaturatedblue2Theme3: hsl(268, 75%, 9%);
$Verydarkdesaturatedblue3Theme3: hsl(268, 71%, 12%);
$LightYelloText: hsl(52, 100%, 62%);

$EqualToKeyTheme3: hsl(176, 100%, 44%);
$EqualToKeyShadowTheme3: hsl(177, 92%, 70%);

$ResetKeyTheme3: hsl(281, 89%, 26%);
$ResetKeyShadowTheme3: hsl(285, 91%, 52%);

$normalKeyShadowTheme3: hsl(290, 70%, 36%);
$normalKeyBackgroundTheme3: hsl(268, 47%, 21%);
